$theme-colors: (
  "primary": #69b83c,
  "danger": #d6d6d6,
  "success": #9b9b9b,
);

@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v11/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    background-color: #2d2d2d;
}

#app {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.board {
    margin-left: 16px;
    display: inline-block;
}

.list-wrapper {
    width: 272px;
    margin: 0 4px;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    
    &:first-child {
        margin-left: 8px;
    }

    .list {
        background-color: #e4e4e4;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        position: relative;
        white-space: normal;
        
        .header {
            flex: 0 0 auto;
            padding: 10px 8px;
            position: relative;
            min-height: 20px;
            padding-right: 36px;
            .menu {
                position: absolute;
                cursor: grab;
                width: 32px;
                height: 32px;
                right: 4px;
                top: 4px;
                z-index: 1;
            }
            .remove {
                position: absolute;
                width: 24px;
                height: 24px;
                right: 35px;
               top: 7px;
               cursor: not-allowed;
               z-index: 11;
               &:hover {
                   color: $danger;
               }
            }
            .name {
                width: 100%;
                background: transparent;
                border-radius: 3px;
                font-weight: 600;
                height: 28px;
                margin: -4px 0;
                min-height: 20px;
                max-height: 225px;
                box-shadow: none;
                resize: none;
                border: none;
                overflow: hidden;
                overflow-wrap: break-word;
            }
        }
        .items {
            transition: all 1s ease;
            flex: 1 1 auto;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 0 4px;
            padding: 0 4px;
            z-index: 1;
        }
    }
}

.smooth-dnd-container.horizontal > .smooth-dnd-draggable-wrapper {
    display: inline-block;
}
